.material-symbols-outlined {
  font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, button {
  transition: .3s;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.--error {
  border-color: #ff0000;
}

.main {
  display: grid;
  grid-template-columns: 1fr 220px;

}
.sidebar {
  padding-left: 20px;
  border-left: 1px solid #000;
}
.chat {
  &__form {
    display: flex;

  }
  &__input {
    max-width: 180px;
  }
}

.msg {
  display: block;

  &--error {
    background: tomato;
    color:#fff;
  }
  &--open {
    background: aqua;
  }
  &--close {
    background: orange;
  }
  &--inbound {
    background: forestgreen;
  }
  &--outcome {
    background: cadetblue;
  }
}