<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<!---->
//= ../templates/header.html
<!---->
    <section class="single__item">
        <picture class="single__poster">
            <img alt="#" src="#">
        </picture>
        <h2 class="single__title">
        </h2>
        <p class="single__about">
            <span class="single__year"></span>
            <span class="single__type"></span>
        </p>
        <p  class="single__plot">
        </p>
    </section>
<script src="js/single.js" ></script>
</body>
</html>